html,
body,
#root {
  height: calc(100 * var(--vh));
  margin: auto;
}
#appWrapper {
  position: fixed;
  height: 100%;
  background-color: rgb(31, 52, 54);
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 10% 20% 10% 12% 12% 12% 12% 12%;
  grid-template-areas:
    "expression expression expression expression"
    "evaluation evaluation evaluation evaluation"
    "output output output output"
    "AC negPos percent divide"
    "num7 num8 num9 multi"
    "num4 num5 num6 minus"
    "num1 num2 num3 plus"
    "num0 num0 point equals";
}
#expression {
  grid-area: expression;
  font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
  background-color: rgb(52, 73, 75);
  color: white;
  line-height: 10%;
  padding-left: 3vw;
}
#evaluation {
  grid-area: evaluation;
  font-size: calc(100px + (130 - 100) * ((100vw - 300px) / (1600 - 300)));
  background-color: rgb(45, 66, 68);
  color: white;
  text-align: right;
  line-height: 20%;
  padding-right: 3vw;
}
#output {
  grid-area: output;
  text-align: right;
  font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
  background-color: rgb(38, 59, 61);
  color: white;
  line-height: 10%;
  padding-right: 3vw;
}
#AC {
  grid-area: AC;
}
#C {
  grid-area: AC;
}
#ut0 {
  grid-area: negPos;
}
#ut1 {
  grid-area: percent;
}
#op0 {
  grid-area: plus;
}
#op1 {
  grid-area: minus;
}
#op2 {
  grid-area: multi;
}
#op3 {
  grid-area: divide;
}
#op4 {
  grid-area: equals;
}
#num0 {
  grid-area: num0;
}
#num1 {
  grid-area: num1;
}
#num2 {
  grid-area: num2;
}
#num3 {
  grid-area: num3;
}
#num4 {
  grid-area: num4;
}
#num5 {
  grid-area: num5;
}
#num6 {
  grid-area: num6;
}
#num7 {
  grid-area: num7;
}
#num8 {
  grid-area: num8;
}
#num9 {
  grid-area: num9;
}
#num10 {
  grid-area: point;
}
button {
  font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
  width: 20vw;
  border: none;
  border-radius: 50px;
  margin: auto;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
.utilities {
}
.operators {
}
.numbers {
}
